<section class="competitions">
    <%=@competition.name%><br>
    <%=@competition.location%><br>
    <%=@competition.sport%><br>
    <%=@average_player_age.round%><br><br>
    <%@competition.teams.each do |team| %>
    <div id="team-<%=team.id%>">
      <%=team.nickname%><br>
      <%=team.hometown%><br>
    </div>
    <%end%><br><br>
    <%= link_to "Register New Team", new_competition_team_path(@competition.id), method: :get%><br>
</section>
