<section class="competitions">
    <%=@competition.name%><br>
    <%=@competition.location%><br>
    <%=@competition.sport%><br>
    <%=@average_player_age.round%><br><br>
    <%@competition.teams.each do |team| %>
    <div id="team-<%=team.id%>">
      <%=team.nickname%><br>
      <%=team.hometown%><br>
    </div>
    <%end%><br><br>
</section>
